
.header{
    background-color: black;
    display: flex;
    flex-wrap: nowrap;
    align-items:center;
    padding: 20px ;
    width: 1700px;
}
.header a{
    text-decoration: none;
    font-size: 130%;
}
h1{
    color: white;
    background: black  ;
    width: 80%;
    
}
.projeck{
    color:white;
    display: inline-block;
    text-align: center;
    width: 100px;
}
.home{
    color: white;
}
.contact{
    color: white;
}
.main{
    background-color: #f1f1f1;
    width: 1740px;
    padding: 10px;
}
img{
    width: 200px;
    border-radius: 50%;
    border: 5px solid red;
}
.main1{
    display: flex;
        flex-wrap: nowrap;
        align-items: center;
        padding: 40px;
}
.main1 p{
    font-size: 150%;

}
.main2{
    background-color: white;
    padding: 15px 0;
}
.main2 button{
    background-color: black;
    color: white;
    border-radius: 7px;
    border: none;
    width: auto;
    padding: 30px 190px;
    justify-content: flex-start;
}
.footer{
    text-align: center;
}