.dropdown button{
    background-color: orange;
}
.dropdown .btn-secondary{
    background-color: orange;
    color: black;
}
.dropdown-menu{
    background-color: orange;
    color: black;
}
.dropdown-item:hover{
    background-color: aqua;
}