*{
    box-sizing: border-box;
}
.line{
    line-height: 40px;
}
.container{
    width: 500px;

    /* width: 500px;
    height: 225px; */
    background-color: rgb(225, 225, 225);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 30px;
    padding: 0 10px 10px 10px;
}
.button1{
    border: none;
    background-color: red;
    border-radius: 5px;
    padding: 10px;
    color: white;
}
.button2{
    border: 2px solid gray;
    background: none;
    padding: 10px;
    border-radius: 7px;
}
img{
    vertical-align: middle;
}