.container{
    display: flex;
    background-color: azure;
    justify-content: space-evenly;
    align-items: center;
    
}
.main{
    width: 1000px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    
}
.main2{
    width: 2000px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

button{
    border: none;
    border-radius: 5px;
    background-color: rgb(7, 99, 99);
    color: white;
    padding: 10px 20px 10px 20px;
    opacity: 50%;
    
}
a{
    text-decoration: none;
}
.menu{
    opacity: 50%;
}