body {
    font-family: Arial, sans-serif;
    max-width: 1000px;
    margin: auto;
    text-align: center;
    background: rgb(246, 246, 246);
}
.container{
    display: flex;
    justify-content: space-around;
}
.container .con{
    background-color: white;
    width: 300px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
